-
  data.hub.navbar = {
    fields: [
      { name: 'specifics', value: 'specifics', text: 'specifics' },
      { name: 'hubdata', value: 'hubdata', text: 'hubdata' },
      { name: 'layout', value: 'layout', text: 'layout' },
      { name: 'cargo', value: 'cargo', text: 'cargo' },
      { name: 'notes', value: 'notes', text: 'notes' },
    ]
  }
