-
  const data = {
    sheets: ['character', 'hub'],
    character: {},
    hub: {}
  }

include character/header.data.pug
include character/navbar.data.pug
include character/belongings.data.pug
include character/personal.data.pug
include character/situation.data.pug

include hub/navbar.data.pug
