-

  data.character.belongings = {
    subtitles: {
    },
    fields: {
      voidpoints: { name: "void_points", label: "Void Points", type: "hidden", blockName: "belongings" },
    },
    inventory: {
      fields: {
        invname: { name: "item_name", label: "Name", placeholder: "Light EVA suit", type: "text", blockName: "inventory" },
        condition: { name: "item_condition", label: "Condition", placeholder: "0", type: "number", blockName: "inventory" },
      }
    },
    smallitems: {
      fields: {
        itemname: { name: "item_name", label: "Name", placeholder: "Duct tape", type: "text", blockName: "small-items" },
      }
    },
  }
