-
  data.character.navbar = {
    fields: [
      { name: 'personal', value: 'personal', text: 'personal' },
      { name: 'situation', value: 'situation', text: 'situation' },
      { name: 'belongings', value: 'belongings', text: 'belongings' },
      { name: 'weaponry', value: 'weaponry', text: 'weaponry' },
      { name: 'notes', value: 'notes', text: 'notes' },
    ]
  }
