* {
  --block-background: #{$white};
  --grid-background: #{$black};

  --input-background: #{$gray-100};
  --input-ruler-color: #{$gray-500};
  --input-color: #{$black};
  --border-color: #{$black};

  --label-color: #{$black};
  --subtitle-color: #{$black};
  --font-color: #{$black};

  --active-page-background: #{$white};
}
